.mybar{height:30px;line-height:30px;margin-bottom:24px;border:none;border-radius:3px;box-shadow:inset 0 1px 0 rgba(255,255,255,.5)}
.mybar.left{float:left}
.whitebar{background:-webkit-radial-gradient(#c7c7c7,#eeeeee);background:linear-gradient(#c7c7c7,#eeeeee)}
img.left{float:left;margin-right:5px}
img.top{margin-top:-3px}
div.leftbar{float:left;line-height:16px;width:16%}
div.rightbar{float:right;line-height:16px;width:12%}
.inside{float:left;width:30px;margin-right:6px;clear:both}
.graph1{float:left;margin:0}
.graph2{float:left;margin:0 0 40px 0}
.graph2.last{margin-bottom:0}
.graph3{float:left;margin:20px 6px 20px 0}
.graph3.last{margin-right:0}